*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:#D5E1EF;
    user-select: none;
  }
  
  .parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

  img{
    border-style:hidden;
     border-radius: 10px;
     left: 0px;
     position: relative;
     top:10px;
     

    
  }


  .text1{
    margin-top: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
  }

  .text2{
    text-align: center;
    margin-top: 30px;
    color: grey;
    margin-bottom: 30px;
  
  }

  .child{
    background-color: white;
    
    border-style: hidden;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;

  }